@import './root.css';

* {
    font-family: monospace, sans-serif;
    color: var(--preto);
}

body {
    width: 100vw;
    padding-bottom: 5em;
}

/* AGRUPAMENTO */
.header,
.container-logo,
.logo,
.contato,
ul li i svg {
    width: 100%;
}

.h1::first-letter,
.h2::first-letter,
.h3::first-letter,
.botao::first-letter {
    text-transform: capitalize;
}

.header-title,
.article-header {
    text-align: center;
}

.article p,
.h3 {
    display: inline-block;
    margin-left: -.5em;
}

.article-title,
.botao {
    padding: .5em 1em;
}

.contato,
.botao,
ul li{
    display: flex;
}


/* ESPECIFICO */


/* TOPO */
.header {
    margin-top: 3em;
    padding: 0 calc(var(--col) * 2);
}

.logo {
    height: 100%;
}

.h1 {
    font-size: 1.4em;
}


/* SEÇÕES */
.section {
    margin-top: 2em;
}

.h2 {
    font-size: 1.2em;
    margin-bottom: 1em;
}

.article {
    border: 1px solid var(--gelo);
    border-radius: 10px;
    margin: 0 var(--col);
    padding: 1.5em .5em;

    position: relative;
}

.article-title {
    background-color: #fff;
    position: absolute;
    top: -1.1em;
    left: 1em;

    z-index: 2;
}

.article-title p {
    animation: piscar 1s infinite;
}

.contato {
    flex-flow: column nowrap;
    align-items: center;
    gap: 1em;
}

.botao {
    border-radius: 10em;
    width: calc(var(--col) * 6);

    justify-content: space-between;

    color: var(--gelo);

    transition: .3s;
}

ul li {
    margin-bottom: 1em;
}

#whatsapp {
    background-color: #1ad03f;
    color: #fff;
}

#whatsapp i svg path {
    color: #fff;
}

#facebook {
    background-color: #3b5998;
}

#instagram {
    background-color: #bc2a8d;
}

#linkedin {
    background-color: #0072b1;
}

ul li{
    align-items: center;
}

ul li i{
    width: 30px;
    margin-right: .5em;

}

ul li i svg path{
   color: var(--cor-primaria);
}

.botao i svg path{
    color: var(--gelo);
}

.botao:hover{
    cursor: pointer;
    transform: scale(.9);
}



/* ANIMAÇÃO */
@keyframes piscar {
    from {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}