@charset "UTF-8";
@font-face { font-family:"Zrnic Rg";font-variant:normal;font-weight:normal;src:url("#FontID0") format(svg)}
.fil5 {fill:#1A1A1A}
.fil4 {fill:#1A1A1A}
.fil2 {fill:#31D7BF}
.fil3 {fill:#1A1A1A;fill-rule:nonzero}
.fil0 {fill:#31D7BF;fill-rule:nonzero}
.fil1 {fill:#31D7BF;fill-opacity:0.450980}
.fnt1 {font-weight:normal;font-size:3206.01px;font-family:'Zrnic Rg'}
.fnt0 {font-weight:normal;font-size:4853.44px;font-family:'Zrnic Rg'}
